@media screen and (min-width: 768px) {
    /* Main Content Layout (3 parts Course Work, 1 part Phnom Penh) */
    .layout-wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1.5rem;
        align-items: start;
    }

    .grid-item-small {
        margin: 0;
        max-width: 100%;
    }

    /* Course Cards Desktop Responsive Grid */
    .course-card-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.2rem;
    }
}